<!doctype html> <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
    {% load staticfiles %}
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>A  day in the ΠWEEK | {% block head_title %}Home{% endblock %} </title>

        {% block head_metas %}{% endblock %}
        <meta name="robots" content="index, follow">
        <meta name="description" content="Bringing pure innovation one week every six months to Spanish companies">
        <meta name="author" content="Kaleidos">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet/less" href="{% static "less/style.less" %}" />
        <script src="{% static "js/libs/less-1.3.0.min.js" %}"></script>

        <!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
        to style.css, and replace the 2 lines above by this one:

        <link rel="stylesheet" href="less/style.css">
        -->

    </head>
    <body>
        <header>
            <div id="header">
                <div class="wrapper">
                    <h1><a href="/">A day in the ΠWEEK</a></h1>
                    <p>
                        Bringing pure innovation to Spanish companies one week every six months
                    </p>
                    {% block head_breadcrumb %}{% endblock %}
                </div>
            </div><!-- header -->
        </header>



        {% block content %}
        
        {% endblock %}

 

        <footer>
            <div class="wrapper">
                <ul class="clearfix">
                    {% for singleProject in projectList %}
                    <li>
                        <a href="/project/{{ singleProject.slug }}" title="{{ singleProject.title }}">{{ singleProject.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{% static "js/libs/underscore-min.js" %}"></script>
        <script src="{% static "js/libs/backbone-min.js" %}"></script>
        <script src="{% static "js/libs/popcorn.js" %}"></script>
        <script src="{% static "js/script.js" %}"></script>
        
        <script>
        //Dynamic Media Url
        Piweek._mediaUrl = "{{ MEDIA_URL }}";
        
        //PopEvents
        
        {% for event in Popevents %}
        
        Piweek._event_name0{{forloop.counter}} = "{{event.name}}";
        Piweek._event_fire0{{forloop.counter}} = {{event.fire}};
        Piweek._event_end0{{forloop.counter}} = {{event.end}};
        Piweek._event_text0{{forloop.counter}} = "{{event.text}}";
        Piweek._person_name0{{forloop.counter}} = "{{event.person.name}}";
        Piweek._person_pic0{{forloop.counter}} = "{{MEDIA_URL}}{{event.person.image}}";
        Piweek._person_target0{{forloop.counter}} = "{{event.person.target}}"; //Id donde se muestra el tag de la persona
        Piweek._event_target0{{forloop.counter}} = "{{event.target}}"; //Id donde se muestra el mensaje del video
        Piweek._twitter_title0{{forloop.counter}} = "{{event.twittertitle}}";
        Piweek._twitter_tag0{{forloop.counter}} = "{{event.twittertag}}";
        Piweek._twitter_src0{{forcounter}} = "{{event.twittersrc}}"; //Id donde se muestra el timeline de twitter
        
        {% endfor %}
 
        </script>
        {% block extrascripts %}{% endblock %}
    </body>
</html>
