<!doctype html> <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
    {% load staticfiles %}
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>A  day in the ΠWEEK | {% block head_title %}Home{% endblock %} </title>

        {% block head_metas %}{% endblock %}
        <meta name="robots" content="index, follow">
        <meta name="description" content="Bringing pure innovation one week every six months to Spanish companies">
        <meta name="author" content="Kaleidos">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet/less" href="{% static "less/style.less" %}" />
        <script src="{% static "js/libs/less-1.3.0.min.js" %}"></script>

        <!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
        to style.css, and replace the 2 lines above by this one:

        <link rel="stylesheet" href="less/style.css">
        -->

    </head>
    <body>
        <header>
            <div id="header">
                <div class="wrapper">
                    <h1><a href="/">A day in the ΠWEEK</a></h1>
                    <p>
                        Bringing pure innovation to Spanish companies one week every six months
                    </p>
                </div>
            </div><!-- header -->
        </header>

        <!-- THERE WE GO WITH THE CONTENT -->

        {% block content %}
        
        {% endblock %}

        <!-- THERE WE GO WITH THE CONTENT -->

        <footer>
            <div class="wrapper">
                <ul class="clearfix">
                    <li>
                        <a href="/project/seekagift" title="Seekagift">Seekagift</a>
                    </li>
                    <li>
                        <a href="/project/greenmine" title="Greenmine">Greenmine</a>
                    </li>
                    <li>
                        <a href="/project/macadjan" title="Macadjan">Macadjan</a>
                    </li>
                    <li>
                        <a href="/project/rpyg" title="RPyG">RPyG</a>
                    </li>
                    <li>
                        <a href="/project/bokzuy" title="Bokzuy">Bokzuy</a>
                    </li>
                    <li>
                        <a href="/project/online-password" title="Online Password">Online Password</a>
                    </li>
                    <li>
                        <a href="/project/ninja-sysop" title="Ninja SysOP">Ninja SysOP</a>
                    </li>
                    <li>
                        <a href="/project/SimpleSAMLphp" title="SimpleSAMLphp">SimpleSAMLphp</a>
                    </li>
                    <li>
                        <a href="/project/django-detect-cyclic" title="Django detect cyclic">Django detect cyclic</a>
                    </li>
                    <li>
                        <a href="/project/tu-tasa-de-paro" title="Tu tasa de paro">Tu tasa de paro</a>
                    </li>
                    <li>
                        <a href="/project/a-day-in-the-week" title="A day in the Π WEEK">A day in the Π WEEK</a>
                    </li>
                    <li>
                        <a href="/project/chencho" title="Chencho!">Chencho!</a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{% static "js/libs/underscore-min.js" %}"></script>
        <script src="{% static "js/libs/backbone-min.js" %}"></script>
        <script src="{% static "js/libs/popcorn.js" %}"></script>
        <script src="{% static "js/script.js" %}"></script>
        <script>
        //Dynamic Media Url
        Piweek._mediaUrl = "{{ MEDIA_URL }}";
        
        //Example01
        Piweek.event_name01 = "eventname";
        Piweek.event_fire01 = 4;
        Piweek.event_end01 = 8;
        Piweek.event_text01 = "Lorem Ipsum Dolor";
        Piweek.person_name01 = "Pablo Alba";
        Piweek.person_pic01 = "{{MEDIA_URL}}/img/palba.png"; //esto no funciona de forma independiente.
        Piweek.person_target01 = "persontag";
        Piweek.event_target01 = "footnote";
        Piweek.twitter_title01 = "Macadjan on twitter";
        Piweek.twitter_tag01 = "macadjan";
        Piweek.twitter_src01 = "tweeterdiv";
        
        
        //Example 02
        Piweek.event_name02 = "eventname";
        Piweek.event_fire02 = 8;
        Piweek.event_end02 = 12;
        Piweek.event_text02 = "Sit amet";
        Piweek.event_target02 = "footnote";
        Piweek.person_name02 = "Andrés Moya";
        Piweek.person_pic02 = "{{MEDIA_URL}}/img/andres-team.png"; //esto no funciona de forma independiente.
        Piweek.person_target02 = "persontag";
        Piweek.twitter_title02 = "Seekagift on twitter";
        Piweek.twitter_src02 = "tweeterdiv";
        Piweek.twitter_tag02 = "seekagift";
        </script>
        {% block extrascripts %}{% endblock %}
    </body>
</html>
