{% extends "web/base.html" %}

    {% block head_title %}
       Home
    {% endblock%}

{% block content %}
        <!-- THERE WE GO WITH THE CONTENT -->
        <div role="main">
            <div class="wrapper">
                <div id="video" class="home_video" style="width: 970px; height: 546px;"><!-- home_video --></div>
                <div id="twitterdiv"><!-- twitterdiv --></div>
                <div id="stopped-video"><!-- stopped video --></div>​
                <ul class="home-navigation clearfix">
                    <li>
                        <h2><a class="piweek-info" href="/piweek" title="WHAT IS A ΠWEEK?">WHAT IS A ΠWEEK?</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    </li>
                    <li>
                        <h2><a class="piweek-projects" href="/projects" title="WHICH PROJECTS?">WHICH PROJECTS?</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    </li>
                    <li>
                        <h2><a class="piweek-magic" href="/videos" title="WHERE IS THE MAGIC?">WHERE IS THE MAGIC?</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                    </li>
                </ul>
            </div>
        </div><!-- main -->
        
{% endblock %}

{% block extrascripts %}
    <script src="{{STATIC_URL}}js/homevideoview.js"></script>
{% endblock %}
