{% extends "web/base.html" %}

    {% block head_title %}
       Home
    {% endblock%}

{% block content %}
        <!-- THERE WE GO WITH THE CONTENT -->
        <div role="main">
            <div class="wrapper">
                <div id="video" class="home_video" style="width: 970px; height: 546px;"><!-- home_video --></div>
                <div id="twitterdiv"><!-- twitterdiv --></div>
                <div id="stopped-video"><!-- stopped video --></div>​
                <ul class="home-navigation clearfix">
                    <li>
                        <h2><a class="piweek-info" href="/piweek" title="WHAT IS A ΠWEEK?">WHAT IS A ΠWEEK?</a></h2>
                        <p>ΠWEEK /paɪ wiːk/ is an original idea by Kaleidos and it consists in allowing employees from participant technology companies to leave their ongoing work in standby and dedicate an entire week to personal projects.</p>
                    </li>
                    <li>
                        <h2><a class="piweek-projects" href="/projects" title="WHICH PROJECTS?">WHICH PROJECTS?</a></h2>
                        <p>Check out the projects built during this week by the amazing Kaleidos employees. 120 hours of cold sweat, liters and liters of coffee, a couple of last-hours heart-attacks and many Nerf wars.</p>
                    </li>
                    <li>
                        <h2><a class="piweek-magic" href="/videos" title="WHERE IS THE MAGIC?">HOW IS THE MAGIC?</a></h2>
                        <p>So you are that kind of person that needs to see, rather than reading, uhm? Don't worry, experience our interactive video "A day in the ΠWEEK". Actually, this is a ΠWEEK project.</p>
                    </li>
                </ul>
            </div>
        </div><!-- main -->
        
{% endblock %}

{% block extrascripts %}
    <script src="{{STATIC_URL}}js/homevideoview.js"></script>
{% endblock %}
