{% extends "web/base.html" %}

    {% block head_title %}
       Piweek
    {% endblock%}
    
    {% block head_breadcrumb %}
        <a href="/projects">Projects</a>
        <a href="/videos">Videos</a>
    {% endblock %}

{% block content %}
        <!-- THERE WE GO WITH THE CONTENT -->
        <div role="main">
            <div class="wrapper">
                
               <div class="sliderwrapper">
                   <ul class="slider clearfix">
                       <li><img src="{{STATIC_URL}}img/macadjan01.png" alt="Slider1" /></li>
                       <li><img src="{{STATIC_URL}}img/macadjan02.png" alt="slider2" /></li>
                   </ul>
               </div><!-- slidewrapper -->
               
               <ul class="project-summary clearfix">
                   <li class="code-num">
                       <span class="number">{{totalsum.0}}</span>
                       <span class="concept">code lines</span>
                   </li>
                   <li class="coffee-num">
                       <span class="number">{{totalsum.1}}</span>
                       <span class="concept">coffee liters</span>
                   </li>
                   <li class="colico-num">
                       <span class="number">{{totalsum.2}}</span>
                       <span class="concept">renal colic(s)</span>
                   </li>
                   <li class="worksforme-num">
                       <span class="number">{{totalsum.3}}</span>
                       <span class="concept">"worksforme"</span>
                   </li>
                   <li class="blame-num">
                       <span class="number">{{totalsum.4}}</span>
                       <span class="concept">blames</span>
                   </li>
               </ul>
               
               <div class="project-title clearfix">
                   <div class="left">
                       <h2>Piweek</h2>
                   </div>
               </div>
               <div class="project-data">
                       <p>
                           ΠWEEK /paɪ wiːk/ is an original idea by Kaleidos and it consists in allowing employees from participant technology companies to leave their ongoing work in standby and dedicate an entire week to personal projects. The plan is to enjoy a ΠWEEK every six months, particularly in December and July, and allow employees to play and innovate with only two rules in mind:
                       </p>
                       <ul>
                           <li>Only free & open source code can be used for development.</li>
                           <li>By the end of the ΠWEEK, there must be a functional demo of some type.</li>
                       </ul>
                       <p>
                           ΠWEEK stands for <strong>Personal Innovation Week</strong> and it is meant to foster innovation and creativity in a near limitless environment of several fellow companies. No commercial purpose is asked, no specific agenda imposed, just a week for everyone to do whatever they wish most.
                       </p>
                       <p>
                           The mechanics is fairly simple. During the weeks prior to the ΠWEEK, some people will privately announce their projects so they can attract partners. This process naturally ends the Sunday before ΠWEEK starts so projects and teams are ready for action Monday morning.
                       </p>
                       <p>
                           So far, there has been one ΠWEEK, on December 2011, with just Kaleidos as a participant company. This edition, on July 2012, has Yaco Sistemas and Secuoyas as excited fellow companies. We will continue to invite more and more companies each edition until this becomes a nationwide event.
                       </p>
                       <p>
                           The ultimate goal is to defy the current state of mind that relegates “innovation” to an empty word or, in the best case, to a top-down strategy. For the doubtful out there, try it before you despise it. The first to see the benefits were our clients.
                       </p>
               </div>
               
            </div>
        </div><!-- main -->
        
{% endblock %}
