{% extends "web/base.html" %}

    {% block head_title %}
       Projects
    {% endblock%}

{% block content %}
        <div role="main">
            <div class="wrapper">
                <p>Selecciona un proyecto</p>
                <ul class="projectList clearfix">
                    {% for singleProject in projectList %}
                    <li>
                        <a href="/project/{{ singleProject.slug }}" title="{{ singleProject.title }}"><img width="60" height="60" src="{{ MEDIA_URL }}/{{singleProject.thumbnail.name}}" alt="{{ singleProject.title }} icon" /></a>
                        <h2><a href="/project/{{ singleProject.slug }}" title="{{ singleProject.title }}">{{ singleProject.title }}</a></h2>
                        <!-- {{ singleProject.tagline }} -->
                    </li>
                    {% endfor %}
                </ul><!-- projectList -->
            </div><!-- wrapper -->
        </div><!-- main -->
{% endblock %}
