{% extends "web/base.html" %}

    {% block head_title %}
       Piweek
    {% endblock%}
    
    {% block head_breadcrumb %}
    <ul class="bread-nav">
        <li><a class="breadcrumb-projects" href="/projects">Projects</a></li>
        <li><a class="breadcrumb-videos" href="/videos">Videos</a></li>
    </ul>
    {% endblock %}

{% block content %}
        <div role="main">
            <div class="wrapper">

               <div class="sliderwrapper">
                   <ul class="slider clearfix">
                       {% for image in project.images.all %}

                       <li><img src="{{MEDIA_URL}}/{{image.content.name}}" alt="Slider1" /></li>

                       {% endfor %}}
                   </ul>
               </div><!-- slidewrapper -->

               <ul class="project-summary clearfix">
                   <li class="code-num">
                       <span class="number">{{project.data1}}</span>
                       <span class="concept">code lines</span>
                   </li>
                   <li class="coffee-num">
                       <span class="number">{{project.data2}}</span>
                       <span class="concept">coffee liters</span>
                   </li>
                   <li class="colico-num">
                       <span class="number">{{project.data3}}</span>
                       <span class="concept">renal colic(s)</span>
                   </li>
                   <li class="worksforme-num">
                       <span class="number">{{project.data4}}</span>
                       <span class="concept">"worksforme"</span>
                   </li>
                   <li class="blame-num">
                       <span class="number">{{project.data5}}</span>
                       <span class="concept">blames</span>
                   </li>
               </ul>

               <div class="project-title clearfix">
                   <img class="left" src="{{ MEDIA_URL }}/{{project.thumbnail.name}}" alt="Macadjan icon" />
                   <div class="left">
                       <h2>{{project.title}}</h2>
                   </div>
               </div>

               <div class="project-data">
                  <div class="sidebar team">
                       <ul>
                            {% for teammember in project.members.all %}
                            <li class="clearfix">
                               <a target="_blank" href="{{teammember.url}}" title="{{teammember.name}}"><img height="64" width="64" class="left" src="{{MEDIA_URL}}/{{ teammember.image }}" alt="{{teammember.name}}" /></a>
                               <h4><a href="{{teammember.url}}"  target="_blank"  title="{{teammember.name}}">{{teammember.name}}</a></h4>
                               <p>{{teammember.nickname}}</p>
                           </li>
                            {% endfor %}
                       </ul>
                   </div>
                   <div class="main clearfix">
                       <p>{{project.description}}
                       </p>
                       <h3>Last Commits</h3>
                        <ul class="commit-list clearfix">
                        {% for entry in feed %}
                           <li class="clearfix">
                               <img width="20" height="20" class="left" src="{{entry.avatar}}" alt="{{entry.author}}" />                              
                               <h4><a href="{{entry.link}}"  target="_blank"  title="{{entry.author}}">{{entry.title}}</a></h4>
                               <p>commited by {{entry.author}}</p>
                           </li>
                        {% endfor %}
                       </ul>
                   </div><!-- main -->
               </div>

            </div>
        </div><!-- main -->

{% endblock %}
