{% extends "web/base.html" %}

    {% block head_title %}
       ΠWEEK Videos
    {% endblock%}

{% block content %}
        <div id="videoView" role="main">
            <div class="wrapper">
                <div class="video-data">
                    <div class="video-container">
                        <video height="576" width="960" id="video" controls>
                            <source src="http://download.blender.org/peach/trailer/trailer_400p.ogg"></source>
                            <source src="http://download.blender.org/peach/trailer/trailer_720x405.mov"></source>
                            <!--
                            <source src="{{ MEDIA_URL }}/files/almuerzo.ogv"></source>
                            <source src="{{ MEDIA_URL }}/files/almuerzo.webm"></source>
                            -->
                        </video>
                    </div>
                    <div id="footnote"></div>
                    <div id="persontag"></div>
                    <div id="tweeterdiv"></div>
                </div><!-- video-data -->
                <ul class="projectVideoList clearfix">
                     {% for projectsVideoList in projectsVideoList %}
                        <li class="{{ projectsVideoList.slug }}">
                            <img width="60" height="60" src="{{ MEDIA_URL }}/{{projectsVideoList.thumbnail.name}}" alt="{{ projectsVideoList.title }} icon" />
                            <h2>{{ projectsVideoList.title }}</h2>
                            <!-- {{ singleProject.tagline }} -->
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- main -->
{% endblock %}

{% block extrascripts %}
    <script src="{{STATIC_URL}}js/multiplevideoview.js"></script>
{% endblock %}
